<a href='/users/3/compositions/#{composition.id}'><h4>#{composition.title}</h4></a>
<img src='#{composition.image_url}'
style='max-height:90px; max-width:90px;'>
<p>#{composition.latitude} N,
  #{composition.description} W</p>
