<h1>collection by <%= @user.name %>:</h1>
<% @user.compositions.each do |piece| %>
  <ul>
    <li><%= link_to piece.title, user_composition_path(@user, piece) %></li>
  </ul>
<% end %>

 <div id="gmap">
    <%= gmaps4rails(@json) %>
  </div>
