body {
  background-image: url(http://thedesignofcities.files.wordpress.com/2013/01/dcgraf_0603.jpg?w=1388&h=1250);
  background-size: cover;
}

.form {
  border: 2px solid white;
  width: 550px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 70px;
  margin-left: -500px;

  h1 {
  color: #fff;
  margin: 2px;
  margin-left: 12px;
  display: inline-block;
  }

  p {
    color: #fff;
    font-size: 18px;
    margin: 2px;
    display: inline-block;
  }
}


